body{
    
}
img{
    width: 180px;
    margin-left: 220%;
}
table{
    padding-top: 40px;
    padding-left: 400px;
    
}
h2{
    margin-top: -20px;
    background-color: gray;
    text-decoration: underline;
}
p{
    margin-top: -20px;
}
h3{
    margin-top: 10px;
}
h4{
    margin-top: -20px;
    font-weight: lighter;
    font-weight: bold;
}
h5{
    margin-top:-10px ;
    font-size: 18px;
    font-weight: lighter;
}
.checked{
    color: orange;
}
hr{
    width: 50%;
}

#l1
{
    display: inline;
    margin: 5px;
    text-decoration: underline;
    
}
#table1
{
    background-color: black;
    width: 100%;
    padding-top: 5px;
    padding-left: -0px;
}
a:hover
{
    color:white;
}


